.teamDetailHeader{
    text-align: center;
    height: 250px;
}
.teamDetailHeaderLogo{
    height: 200px;
    padding: 20px 0px;
}
.team-detail-div{
    padding: 10px 200px;
    background-color: rgb(114, 0, 0);
    color: white;
    margin: auto;
}
.description{
    padding: 20px 0px ;
}
.team-detail-row{
    border-radius: 20px;
    background-color: crimson;
    color: white;
    height: auto;
}
.team-detail{
    text-align: left;
    padding-top: 30px;
    margin: 0px;
}
.team-image-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team-image-col img{
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
}
@media screen and (max-width: 768px) { 
    .team-detail-div{
        padding: 10px 40px;
    }
    .team-image-col img{
        width: 280px;
        height: 200px;
    }
}